* {
    padding: 0;
    border: 0;
    margin: 0;
}

h1{
    padding: 3rem 0;
    text-align: center;
    background: rgba(0, 160, 255);
    color: white
}

p{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}

ul{
    padding: 1rem 0;
        
}
li{
    font-size: 0.5rem;
    padding: 0 0 0 5rem;
}

.container1{
    display: grid;
    grid-template-columns: 1fr);
    grid-template-rows: repeat(3, auto);
}


.numOfWins{
text-align: center;
font-size: 00.75rem;
padding: 3rem 0 1rem 0;
}

.chooseWins{
text-align: center;
font-size: 00.5rem;
}