* {
    padding: 0;
    border: 0;
    margin: 0;
}

header {
    background: rgba(0, 160, 255);
    padding: 3rem 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background: rgba(0, 160, 255);
    padding: 3rem 0;
    width: 100%;
    margin-top: auto;
}

#gameDiscription {
    padding: 3rem 2rem;
}

h1 {
    text-align: center;
    color: white;
}

p {
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}

ul {
    padding: 1rem 0;

}

li {
    font-size: 0.5rem;
    padding: 0 0 0 5rem;
}

/* buttons styles  */

#container2 {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 3rem 0;
}

.iconButton {
    font-size: 3rem;
}

.rock-btn {
    color: rgba(0, 0, 255, 1);
}

.rock-btn:hover {
    color: rgba(0, 0, 255, 0.6)
}

.paper-btn {
    color: rgba(0, 128, 0, 1);

}

.paper-btn:hover {
    color: rgba(0, 128, 0, 0.6);

}

.scissor-btn {
    color: rgb(255, 255, 0, 1);
}

.scissor-btn:hover {
    color: rgb(255, 255, 0, 0.6);
}

.lizard-btn {

    color: rgba(255, 0, 0, 1);

}

.lizard-btn:hover {
    color: rgba(255, 0, 0, 0.6);

}

.spock-btn {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    color: rgba(255, 165, 0, 1);
}

.spock-btn:hover {
    color: rgba(255, 165, 0, 0.6);
}

/*Score for player and computer*/
#scores {
    display: flex;
    justify-content: space-evenly;
}

#scores>p {
    font-size: 2rem;
    color: white;
    background-color: brown;
    border-radius: 10px;
}

/* Buttons for play game and show rules */
.gameButtonFlex {
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.gameButton {
    width: 100px;
    height: 50px;
    background-color: rgba(0, 160, 255);
    color: white;
    border-radius: 10px;
}

.gameButton:hover {
    background-color: rgba(0, 20, 255);
}

/*  Rules image and video that can be toggled when clicking the rules button */
.rules {
    display: flex;
    justify-content: center;
    align-items: center;
}

#video {
    height: 315px;
    width: 560px;
}

.close-button {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;

}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 15px;
    width: 80%;
    justify-content: center;
    overflow: auto;
}

/* Results modal*/
#flex-game-result1 {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

#flex-game-result1>p {
    font-size: 40px;
}

#flex-game-result2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

#flex-game-result2>p {
    font-size: 60px;
}

/*play game brings up the game icons controls and score */
#playGame {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Heroimage*/
#hero-img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#hero-img>img {
    width: 250px;
}

/* modal for game over and resetting */
#gamneOvermodal {
    display: none;
    justify-content: space-evenly;
    font-size: 20px;
}

/*instruction*/
#instructions>p {
    margin: 0 auto;
}

/* media queries */

/* media query 620 px + */
@media screen and (min-width: 620px) {
    #hero-img>img {
        width: 500px;
    }

    #container2 {
        display: flex;
        justify-content: space-evenly;
        margin: 3rem 3rem;
    }

    #scores {
        margin: 2rem 0;
    }

    #instructions>p {
        margin: 0 auto;
        font-size: 1.5rem;
        padding: 4rem 0 2rem;
    }
}